# src/main/resources/application.yml

server:
  port: 8080

spring:
  profiles:
    active: local

  application:
    name: CHERRY-BOOKER-SERVICE

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

ocr:
  base-url: ${OCR_BASE_URL:http://localhost:8000/ocr}
